html {
  --line-color: #e5e5e5;
}

main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 15rem;
  height: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--cyan-720);
  padding: 0;
}

.jbrand {
  width: 80px;
  height: auto;
}

.card-container {
  height: 100%;
}

.linkHover {
  cursor: pointer;
}

/* overlay starts here */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media all and (max-width: 480px) {
  .top__gear__image {
    object-fit: contain;
    margin-left: 1rem;
  }

  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 9%;
    color: #fff;
    text-align: center;
  }

  .pro__img {
    margin: 0 10px;
  }

  .gallery__contain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery__center {
    text-align: center;
  }

  .gallery__links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  .gallery__links li {
    margin-bottom: 10px;
  }

  .link_gal {
    text-decoration: none;
  }

  .advertise {
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
  }

  .margin__card {
    margin: 10px;
  }

  .product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
  }

  .navbar__logo {
    margin-left: 1rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
}
